/* global styles */
body {
  text-align: center;
  font-family: "Happy Monkey", system-ui;
  background: radial-gradient(circle at top, #ffffff33, #000000cc),
              url("https://i.imgur.com/4NJlFPl.gif"); /* glitter bg */
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

/* grouped styles */
h1, h2, h3, h4, p {
  text-shadow: 0 0 5px black;
}

/* Form Container */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  background: rgba(255, 255, 255, 0.08);
  padding: 2rem 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  max-width: 300px;
  width: 100%;
}

#birthdayForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

input {
  box-sizing: border-box;
  padding: 1rem;
  height: 2rem;
}

/* Buttons */
.buttonSubmit {
  padding: 1rem 4rem;
  border-radius: 50px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid white;
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 20rem;
  aspect-ratio: 2/2;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid white;
}

.age, .date {
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 10px;
  border-radius: 5px;
}

.age {
  margin: 5px 0 10px;
}

/* gift section */
.gift-section {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 10px;
}

.gift-hint {
  margin-top: 0;
}

/* Base gift box */
.gift-cover {
  width: 500px;
  height: 400px;
  background: url(images/1.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  border: 6px solid white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 20px #000;
}

/* tap-reveal (mobile & pc) */
.gift-cover.active.happy-gif {
  background-image: url(images/3.jfif);
}

.gift-cover.active.respect-gif {
  background-image: url(images/2.jfif);
}

.gift-cover.active.genius-gif {
  background-image: url(images/You.webp);
}

.gift-cover.active.goat-gif {
  background-image: url(images/7.jpg);
}

.gift-cover.active.cheers-gif {
  background-image: url(images/2.gif);
  background-size: cover;
}

/* footer */
.footer {
  margin-top: 30px;
}

.footer a {
  color: white;
}
